{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Search
{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
<link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #3d2f2b">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="dashboard">BARN Project</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('timer') }}">Bens's Feature</a></li>
        <li><a href="#">Arnav's Feature</a></li>
        <li><a href="{{ url_for('search') }}">Luke's Feature</a></li>
        <li><a href="{{ url_for('quiz') }}">Nicolas's Feature</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="padding-top: 50px;">

  <form class="form-signin" method="GET" action="/players">
    <h2 class="form-signin-heading">Search for an NBA Player (Case sensitive!)</h2>
    {{ wtf.form_field(form.name) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
  </form>

</div> <!-- /container -->
{% endblock %}